body {
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%; /* Chiếm toàn bộ chiều rộng trang */
}
.container {
    border-top: 3px solid gray;
    padding: 10px;
    width: 50%;
}
.content-form{
    border: 1px solid blue;
    padding: 10px;
    
}
h3 {
    text-align: center;
    font-size: 30px;
}
.item {
    display: grid;
    grid-template-columns: 20% 75%;
    margin-bottom: 10px;
    column-gap: 10px;
}
label,
input {
    padding: 5px;
    border:none;
    border-radius: 5px;
    background-color: #ccc;
}
button {
    padding: 10px;
    width: 70px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}
table{
    border: 1px solid #000;
    margin-top: 10px;
    width: 95%;
    border-spacing: 0;
}
#total{
    text-align: center;
}
#tb tr {
    height: 28px;
}
.nav{
    background-color: #000;
    color:#fff;
}
#tb tr th,
#tb tr td {
    padding: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
}
#tb tr th:last-child{
    border-right: none;
}
#tb tr:last-child td {
    border: none;
}
#tbody{
    text-align: center;
}
